*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}

.header-top{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
}
header a{
    color:#0f0f0f
}
.logo a{
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
}
.logo-icon{
    background: linear-gradient(#bc4aef, #e043ab);
    padding: 10px;
    border-radius: 50%;
}
.logo-title{
    font-weight: 400;
}
nav ul{
    display: flex;
    column-gap:30px;
}
nav ul li a:hover{
    color: #a527ed
}

.header-top-btn{
    display: flex;
    column-gap: 15px;
}
.header-top-btn button{
    border: none;
    padding: 10px;
    background: transparent;
    border-radius: 10px;
}
.header-top-btn button:hover{
    background: #efefef;
}

.header-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 130px 0;
    color: #ffffff;
    background: linear-gradient(135deg, #a827ec, #f84b8a, #ff8522);
    row-gap: 20px;
}
.header-bottom h1{
    font-size: 60px;
    font-weight: 600;
    width: 770px;
    line-height: 60px;
    text-align: center;
}
.header-bottom p{
    font-size: 20px;
    width: 770px;
    text-align: center;
    font-weight: 400;
}
.header-bottom-btn button{
    border: none;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 13px;
    color: #a527ed;
    font-weight: 500;
    cursor: pointer;
}
#btn-hover{
    color:transparent;
}
#btn-hover:hover{
    background: transparent;
    border: 1px solid #ffffff;
    color: #0f0f0f;
}
.advantages{
    display: flex;
    align-items: center;
    padding: 65px 0;
    text-align: center;
}
.advantages article svg{
    padding: 30px;
    background: #f4e8ff;
    border-radius: 50%;
    color: #0f0f0f;
}
