*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}
.header-top{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
}
header a{
    color: #0f0f0f;
}
.logo a{
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
}
.logo-icon{
    background: linear-gradient(#ba49f0, #e840b0);
    padding: 10px;
    border-radius: 50%;
}
.logo-tittle{
    font-weight: 400;
}
nav ul{
    display: flex;
    column-gap: 30px;
}
nav ul a:hover{
    color: #a527ed;
}
.header-top-btn{
    display: flex;
    column-gap: 15px;
}
.header-top-btn button{
    border: none;
    padding: 10px;
    /*transparent - колір батьківського елемента*/
    background: transparent;
}
.header-top-btn button:hover{
    background: #eaeaea;
    border-radius: 5px;
}



.header-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0;
    color: #ffffff;
    background: linear-gradient(135deg, #ba49f0, #f63699, #ff8623);
    row-gap: 20px;
}
.header-bottom h1{
    font-size: 60px;
    font-weight: 600;
    width: 770px;
    line-height: 60px;
    text-align: center;
}
.header-bottom p{
    font-size: 20px;
    width: 770px;
    text-align: center;
    font-weight: 400;
}
.header-bottom-btn button{
    border: none;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    color: #a527ed;
    font-weight: 500;
    cursor: pointer;
}
#btn-hover{
    color: transparent;
}
#btn-hover:hover{
    background: transparent;
    border: 1px solid #ffffff;
    color: #0f0f0f;
}
.advantages{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 65px 0;
    text-align: center;
}

.advantages article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantages article span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background: #f4e8ff;
    border-radius: 50%;
    color: #881fd4;
}

.advantages article h3{
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}
.advantages article p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #676c76;
}

.catalog{
    display: flex;
    flex-direction: column;
    padding: 65px 0;
    align-items: center;
}
.catalog-cards{
    /*max-width: 250px;*/
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 35px;
}
.card{
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    max-width: 350px;
}
.card img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.catalog h2{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;
}
.catalog > p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #676c76;
    text-align: center;
    margin-bottom: 50px;
}
.label{
    font-size: 12px;
    line-height: 16px;
    color: #881fd4;
    text-transform: uppercase;
    margin-top: 40px;
}

.card-text{
    padding: 16px;
}
.card-text h3{
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    margin: 10px 0
}
.card-text p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #676c76;
    margin-bottom: 10px;
}

.price{
    display: flex;
    justify-content: space-between;
}
.cost{
    font-size: 20px;
    line-height: 28px;
    color: #a527ed;
    font-weight: 400;
    margin-bottom: 20px;

}
.instock{
    font-size: 12px;
    line-height: 26px;
    color: #49c500;
}

.card-btn{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    background: #a527ed;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 500;
}

.card-btn:hover{
    background: #801cb6;
}
.card:hover{
    box-shadow: 0 5px 5px #aeadad;
}
.catalog > button{
    width: fit-content;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 10px;
    background: #a527ed;
    color: #fff;
    border: none;
    cursor: pointer;

}
.catalog > button:hover{
    background: #801cb6;
}

.send {
    background-color: #a527ed;
    color: #ffffff;
    text-align: center;

    padding: 70px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.send h2 {
    font-size: 36px;
    font-weight: 500;
}

.send p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.send button {
    background-color: #ffffff;
    color: #a527ed;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.send button:hover {
    background-color: #f4e8ff;
}


footer {
    background-color: #101727;
    color: #a1a8a7;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    gap: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    max-width: 280px;
}

.column .logo {
    margin-bottom: 15px;
}

.column .logo a {
    color: #ffffff;
}

.column > p {
    font-size: 14px;
    line-height: 22px;
    color: #9ca3af;
    margin-bottom: 20px;
}


.column .social ul {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.social ul li a {
    color: #9ca3af;
    display: flex;
}


.column h3 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.column ul {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.column ul li {
    font-size: 14px;
    color: #d1d5db;
}

.column ul li a {
    color: #d1d5db;
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
}

.footer-bottom {
    border-top: 1px solid #1f2937;
    padding: 24px 0;
    text-align: center;
}

.footer-bottom p {
    color: #9ca3af;
    font-size: 14px;
}
